.composition {
	// parent must be relative, to give child absolute
	position: relative;

	&__photo {
		width: 55%;
		box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
		border-radius: 2px;
		position: absolute;
		z-index: 1;
		// animation duration
		transition: all 0.2s;
		// create space between border and image
		outline-offset: 2rem;

		&--p1 {
			left: 0;
			top: -2rem;
		}

		&--p2 {
			right: 0;
			top: 2rem;
		}

		&--p3 {
			left: 20%;
			top: 10rem;
		}

		&:hover {
			// increase size and move up on Y axis
			transform: scale(1.05) translateY(-0.5rem);
			box-shadow: 0 2.5rem 4rem rgba($color-black, 0.5);
			z-index: 2;
			// special type of border
			outline: 1.5rem solid $color-primary;
		}
	}

	// .composition:hover .composition__photo:not(:hover
	&:hover &__photo:not(:hover) {
		// reduce the size of the images that are not hovered
		transform: scale(0.95);
	}
}
